
.site-header__nav {
  height: 72px;
}

.site-header__logo-wrapper {
  width: 6.25rem;
}

.nav-slide-enter
.nav-slide-leave-to {
  --transform-translate-x: calc(-100% - 15px);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
}

.nav-veil-enter
.nav-veil-leave-to {
  @apply opacity-0;
}

@screen md {
  .site-header__announcement {
    height: 56px;
  }
  .site-header__nav {
    height: 122px;
  }
  .site-header__logo-wrapper {
    width: 12.5rem;
  }
}
