body {
  @apply leading-normal;
  @apply text-black;
  @apply font-lausanne;
  @apply text-base-mob;
  @screen md {
    @apply text-base-desk;
  }
}

html {
  width: 100%;
}

*, a, button, input, textarea, select {
  &:focus {
    outline: none;
  }
}

q {
  quotes: "“" "”" "‘" "’";
}

q::before {
    content: open-quote;
}
q::after {
    content: close-quote;
}
