
/* Skip to content button */

.skip-link {
  left: -999px;
  position: absolute;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
  z-index: -999;
}

.skip-link:focus,
.skip-link:active {
  background: white;
  color: black;
  left:  0;
  top:  0;
  width:  auto;
  height:  auto;
  overflow: auto;
  margin:  10px;
  padding: 5px;
  font-size: 1.4em;
  z-index: 999;
}

.flex-center {
  @apply flex;
  @apply items-center;
  @apply justify-center;
}

[v-cloak] {
  display: none !important;
}

.max-w-lg-em {
  /* Limit text width proportionally to type size.*/
  max-width: 40em;
}

.max-w-em {
  /* Limit text width proportionally to type size, should be around 60 characters wide.*/
  max-width: 30em;
}


.max-w-sm-em {
  /* Limit text width proportionally to type size.*/
  max-width: 18em;
}

