
/* Skip to content button */

.skip-link {
  left: -999px;
  position: absolute;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
  z-index: -999;
}

.skip-link:focus,
.skip-link:active {
  background: white;
  color: black;
  left:  0;
  top:  0;
  width:  auto;
  height:  auto;
  overflow: auto;
  margin:  10px;
  padding: 5px;
  font-size: 1.4em;
  z-index: 999;
}

.flex-center {
  @apply flex;
  @apply items-center;
  @apply justify-center;
}

[v-cloak] {
  display: none !important;
}

@responsive {

  /* image padding classes, ordered tallest to widest: */

  .pb-9:16 {
    padding-bottom: ((16 / 9) * 100%);
  }

  .pb-2:3 {
    padding-bottom: ((3 / 2) * 100%);
  }

  .pb-3:4 {
    padding-bottom: ((4 / 3) * 100%);
  }

  .pb-1:1 {
    padding-bottom: 100%;
  }

  .pb-4:3 {
    padding-bottom: ((3 / 4) * 100%);
  }

  .pb-3:2 {
    padding-bottom: ((2 / 3) * 100%);
  }

  .pb-16:9 {
    padding-bottom: ((9 / 16) * 100%);
  }
}
