/* Swiper overrides */

.swiper-pagination {
  @apply flex;
  @apply items-center;
  @apply justify-center;
  @apply flex-row;
  height: 4px;
}
.swiper-pagination-bullet {
  background-color: theme(colors.black.default);
  @apply opacity-20;
  width: 4px;
  height: 4px;
  &.swiper-pagination-bullet-active{
    @apply opacity-100;
  }
}