/* Swiper overrides */
.swiper-container {
  --swiper-navigation-color: theme(colors.black.default);
  --swiper-theme-color: theme(colors.black.default);
}

.swiper-pagination {
  @apply flex;
  @apply items-center;
  @apply justify-center;
  @apply flex-row;
  height: 4px;
}

.swiper-pagination-bullet {
  @apply opacity-20;
  @apply mx-1;
  background-color: theme(colors.black.default);
  width: 4px;
  height: 4px;
  &.swiper-pagination-bullet-active{
    @apply opacity-100;
  }
}

.swiper-wrapper, .swiper-slide {
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
}