<div class="py-15">
  <h2 data-animate="fade-in" class="mx-8 text-center text-xl-mob md:text-2xl-desk mb-8">{{ heading }}</h2>

  <div class="grid grid-cols-1 gap-6 md:grid-cols-3 md:row-gap-16 md:col-gap-12 px-4 md:px-16 lg:px-40">
    {{ content }}
  </div>
</div>
