<div class="py-15">
  <h2 data-animate="fade-in" class="mx-8 text-center text-xl-mob md:text-2xl-desk mb-8">{{ heading }}</h2>

  <div class="grid grid-cols-1 gap-6 md:grid-cols-3 md:row-gap-65 md:col-gap-12 mx-12 lg:mx-39">
    {{ content }}
  </div>
</div>
