<svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 376.433 453.3247">
  <defs>
    <clipPath transform="translate(-7.2833 -12.8378)">
      <rect width="391" height="479" style="fill: none"/>
    </clipPath>
  </defs>
  <title>SockCandy_Logomark_031320</title>
  <g style="clip-path: url(#a431efd8-4eeb-420d-993e-4e04c74c4b6a)">
    <path d="M83.2163,284.9941c-6.152,47.351,93.358,180.372,118.075,160.946,28.752-22.598-22.354-131.615-46.83-186.633-38.531-86.404-45.749-167.225,19.318-218.365,67.591-53.123,154.435-26.725,209.937,43.893-30.888,45.667-42.592,60.274-76.942,101.387,8.29-46.877-70.036-179.066-96.769-158.055-30.263,23.785,15.791,150.595,35.364,193.144,42.785,92.853,47.264,166.037-16.795,216.385-65.068,51.142-154.291,33.138-221.291-52.108Z" transform="translate(-7.2833 -12.8378)" fill="currentColor"/>
  </g>
</svg>
