<transition name="nav-slide">
  <nav v-cloak v-if="mobileNavVisible" role="navigation" class="fixed md:hidden transform duration-300 z-10 pt-12 pb-10 px-10 bg-off-white top-0 left-0 bottom-0 w-4/5 flex flex-col justify-between items-start site-header__mobile-nav-content transform duration-300 translate-x-0">
    <div>
      <button v-on:click="mobileNavVisible = false" class="block w-4 site-header__close-nav" type="button">
        <img src="{{ 'close.svg' | asset_url }}" alt="Close Menu" />
        <span class="hamburger-label uppercase-sm-mob sr-only">Close Menu</span>
      </button>
      <ul class="space-y-10 mt-10 text-xl-mob">
        {% include 'nav-list' list: section.settings.left_linklist %}
        {% include 'nav-list' list: section.settings.left_linklist %}
        {% include 'account-links' %}
      </ul>
    </div>
    <img class="w-10" src="{{ 'logomark.svg' | asset_url }}" alt="{{ shop.name }}"/>
  </nav>
</transition>

<transition name="nav-veil">
 <div v-cloak v-if="mobileNavVisible" v-on:click="mobileNavVisible = false" class="fixed inset-0 md:hidden site-header__mobile-nav-veil bg-off-white opacity-60 duration-300"></div>
</transition>