{%- assign current_variant = product.selected_or_first_available_variant -%}
{%- assign featured_image = current_variant.featured_image | default: product.featured_image -%}

{% for image in product.images %}
  {% capture wrapper_class %}
    {%- unless featured_image == image -%}
      hide
    {%- endunless -%}
  {% endcapture %}

  {% include 'responsive-image' with
    image: image,
    crop_aspect_ratio: .8,
    inline_aspect_ratio: true
  %}
{% endfor %}

{% if product.images.size > 1 %}
  <ul>
    {% for image in product.images %}
      <li>
        <a href="{{ image.src | img_url: '480x480' }}" data-thumbnail-id="{{ image.id }}" data-product-single-thumbnail{% if featured_image == image %} aria-current="true"{% endif %}>
          <img class="product-single__thumbnail-image" src="{{ image.src | img_url: '160x160' }}" alt="{{ image.alt | escape }}">
        </a>
      </li>
    {% endfor %}
  </ul>
{% endif %}