<div class="pdp-images">

  <div class="swiper-container">
    <div class="swiper-wrapper">

      {% for image in product.images %}
        <div class="swiper-slide">
          <div class="">
            {% include 'responsive-image',
              image: image,
              crop_aspect_ratio: .8,
              inline_aspect_ratio: true,
              fit: 'cover' %}
          </div>
        </div>
      {% endfor %}

    </div>

    <div class="pdp-images__nav md:hidden flex flex-row items-center justify-between px-6 pt-6" style="--swiper-navigation-size: 1rem">

      <div class="pdp-images__prev swiper-button-prev inset-0 translate-y-0 static m-0"></div>

      <div class="pdp-images__pagination"></div>

      <div class="pdp-images__next swiper-button-next inset-0 translate-y-0 static m-0"></div>
    </div>
  </div>

</div>