{% assign section_headings = product.metafields.accentuate.product_section_heading  %}
{% assign section_contents = product.metafields.accentuate.product_section_content  %}

{% if section_headings.size > 0 and section_contents.size > 0 %}

  <div class="pdp-details mt-10 text-left">

    {% for heading in section_headings %}
      {% assign contents = section_contents[forloop.index0] %}

      {% if heading != blank and contents != blank %}

        <div class="pdp-details__item border-t-1 px-3 py-4 md:py-5 md:px-0">

          <h3 class="cursor-pointer pdp-details__heading uppercase-md-mob md:uppercase-desk flex flex-row justify-between items-center">
            <span class="mt-thin md:mt-1">{{ heading }}</span>
            {% include 'arrow.svg', className: 'right transition-transform duration-300' %}
          </h3>

          <div class="pdp-details__content hidden">
            <p class="pt-3">{{ contents }}</p>
          </div>

        </div>

      {% endif %}

    {% endfor %}
  </div>

{% endif %}