.text-page, .shopify-policy__body {
  & h1 {
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    @apply text-2xl-mob;
    @screen md {
      @apply text-3xl-tight-desk;
    }
  }

  & h2 {
    margin-top: 0.8em;
    margin-bottom: 0.8em;
    @apply text-xl-mob;
    @screen md {
      @apply text-2xl-tight-desk;
    }
  }

  & h3 {
    margin-top: 1em;
    margin-bottom: 1em;
    @apply text-lg-mob;
    @screen md {
      @apply text-xl-tight-desk;
    }
  }

  & h4, & h5 {
    margin-top: 1.33em;
    margin-bottom: 1.33em;
  }

  & h6 {
    margin-top: 1.33em;
    margin-bottom: 1.33em;
    @apply uppercase;
  }

  & blockquote {
    margin-top: 1em;
    margin-bottom: 1em;
    @apply px-6;
    @screen md {
      @apply px-10;
    }
  }

  & p {
    margin-top: 1em;
    margin-bottom: 1em;
  }
}