{% comment %}
  This page represents the /collection, /collections and /collections pages.
{% endcomment %}
<section class="collections">
  {% for block in section.blocks %}
    {% assign collection = collections[block.settings.collection] %}
    {% capture class %}
      {% assign alternator = forloop.index | modulo: 2 %}
      {% if alternator == 0 %}
        bg-rose
      {% else %}
        bg-orange
      {% endif %}
    {% endcapture %}
    {% include 'collections-item', collection: collection, class: class %}
  {% else %}
    {% include 'collections-item', collection: collections['all'], class: 'bg-orange' %}
    {% include 'collections-item', collection: collections['all'], class: 'bg-rose'  %}
  {% endfor %}
</section>


{% schema %}
  {
    "name": "Collections",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Luptatia Quis, Sum Veles"
      },
      {
        "type": "textarea",
        "id": "text",
        "label": "Text",
        "default": "Luptatia cumet, sum veles nam laborec tempor si voluptat aute voluptur lorem ispum dolorpostrum."
      },
      {
        "type": "image_picker",
        "id": "desktop_image",
        "label": "Desktop Image",
        "info": "Landscape image"
      },
      {
        "type": "image_picker",
        "id": "mobile_image",
        "label": "Mobile Image",
        "info": "Square image. Other aspect ratios will be cropped to square format. If not provided, desktop image will be used."
      }
    ],
    "blocks": [
      {
        "type": "collection",
        "name": "Collection",
        "settings": [
          {
            "type": "collection",
            "label": "Collection",
            "id": "collection"
          }
        ]
      }
    ]
  }
{% endschema %}

