<section class="collections-hero bg-rose">

  <div class="md:relative">

    <div data-animate="slide-up delay" class="z-10 pt-10 pb-12 px-6 md:p-16 lg:p-32 md:absolute md:inset-0 md:text-off-white md:flex md:items-center text-center md:text-left">
      <div class="md:pb-5-per">
        {% if section.settings.title != blank %}
          <h2 class="text-2xl-mob mb-2 md:mb-3 md:text-2xl-tight-desk lg:text-3xl-tight-desk lg:text-3xl-tight-desk max-w-sm-em mx-auto md:ml-0">{{ section.settings.title | escape }}</h2>
        {% endif %}
        {% if section.settings.text != blank %}
          <div class="md:text-lg-desk lg:text-xl-desk max-w-em mx-auto md:ml-0">{{ section.settings.text }}</div>
        {% endif %}
      </div>
    </div>

    {% if section.settings.mobile_image != blank and section.settings.mobile_image.src != blank %}
      {% assign mobile_image = section.settings.mobile_image %}
    {% else %}
      {% assign mobile_image = section.settings.desktop_image %}
    {% endif %}
    <div data-animate="fade-in" class="collections-hero__image">
      {% include 'responsive-image' with
        image: section.settings.desktop_image,
        wrapper_class: 'hidden md:block'
      %}
      {% include 'responsive-image' with
        image: mobile_image,
        wrapper_class: 'md:hidden'
      %}
    </div>


  </div>
</section>


{% schema %}
  {
    "name": "Collections Hero",
    "settings": [
      {
        "type": "image_picker",
        "id": "desktop_image",
        "label": "Desktop Image",
        "info": "Landscape image"
      },
      {
        "type": "image_picker",
        "id": "mobile_image",
        "label": "Mobile Image",
        "info": "Square image. Other aspect ratios will be cropped to square format. If not provided, desktop image will be used."
      },
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Luptatia Quis, Sum Veles"
      },
      {
        "type": "textarea",
        "id": "text",
        "label": "Text",
        "default": "Luptatia cumet, sum veles nam laborec tempor si voluptat aute voluptur lorem ispum dolorpostrum."
      }
    ]
  }
{% endschema %}

