<footer class='border-t bg-orange p-9 pb-0 sm:p-16 md:p-20 lg:flex lg:flex-row lg:px-36 lg:pt-28 lg:pb-25 '>
  <div class="lg:w-1/4">
    <img src="{{ 'logomark.svg' | asset_url }}" class="w-9 md:w-16 lg:w-24 md:max-h-full"/>
  </div>
  {%- assign footer_linklist = section.settings.footer_linklist -%}
  {% if linklists[footer_linklist].links.size > 0 %}
    <nav role="navigation" class="mt-7 md:mt-12 lg:mt-0 lg:flex-1" >
      <ul class="footer__nav-list flex flex-col flex-wrap sm:flex-row sm:flex-no-wrap sm:justify-between sm:space-x-8">
        {% include 'nav-list', list: footer_linklist,
        item_class: 'pb-10 sm:pb-0 footer__item'
        link_class: 'uppercase-sm-mob md:uppercase-desk',
        child_list_class: 'uppercase-base-mob md:base-desk'
        child_item_class: 'mt-3',
        social_icons: true
        %}
      </ul>
    </nav>
  {% endif %}
</footer>

{% schema %}
  {
    "name": "Footer",
    "settings": [
      {
        "type": "link_list",
        "id": "footer_linklist",
        "label": "First menu",
        "default": "footer"
      }
    ]
  }

{% endschema %}
