<section class="homepage-featured-products bg-orange pt-12 pb-14 md:pt-34 md:pb-38 {{ section.settings.border_top_class }}">


  <div class="px-4 md:px-16 lg:px-40 mx-auto max-w-screen-xl">
    <h2 data-animate="fade-in"
    class="text-center text-xl-mob md:text-2xl-desk">
      {{ section.settings.heading }}
    </h2>


    <div class="mt-8 grid grid-cols-1 gap-6 md:mt-16 md:grid-cols-3 md:row-gap-16 md:col-gap-12 ">

      {% for block in section.blocks %}
        {% include 'product-card' with card_product: all_products[block.settings.product] %}
      {% endfor %}

    </div>
  </div>

</section>


{% schema %}
  {
    "name": "Featured Products",
    "max_blocks": 3,
    "settings": [
      {
        "type": "select",
        "id": "border_top_class",
        "label": "Top Border",
        "default": "border-t-0",
        "options": [
          {
            "value": "border-t-0",
            "label": "None"
          },
          {
            "value": "md:border-t",
            "label": "Desktop Only"
          },
          {
            "value": "border-t md:border-t-0",
            "label":  "Mobile Only"
          },
          {
            "value": "border-t",
            "label": "Mobile & Desktop"
          }
        ]
      },
      {
        "type": "text",
        "label": "Heading",
        "id": "heading",
        "default": "Featured Products"
      }
    ],
    "blocks": [
      {
        "type": "product",
        "name": "Product",
        "settings": [
          {
            "label": "Product",
            "id": "product",
            "type": "product"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Featured Products",
        "category": "Products",
        "blocks": [
          {
            "type": "product"
          },
          {
            "type": "product"
          },
          {
            "type": "product"
          }
        ]
      }
    ]
  }
{% endschema %}