
<section class="homepage-featured-products bg-orange py-15">
  <h2 class="mx-8 text-center text-xl-mob mb-8">{{ section.settings.heading }}</h2>

  <div class="grid grid-cols-1 gap-6 md:grid-cols-3 md:row-gap-64 md:col-gap-12 px-thin mx-12">
    {% for block in section.blocks %}
      {% include 'product-card' with card_product: block.settings.product %}
    {% endfor %}
  </div>

</section>

{% schema %}
  {
    "name": "Featured Products",
    "max_blocks": 3,
    "settings": [
      {
        "type": "text",
        "label": "Heading",
        "id": "heading",
        "default": "Featured Products"
      }
    ],
    "blocks": [
      {
        "type": "product",
        "name": "Product",
        "settings": [
          {
            "label": "Product",
            "id": "product",
            "type": "product"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Featured Products",
        "category": "Products",
        "blocks": [
          {
            "type": "product"
          },
          {
            "type": "product"
          },
          {
            "type": "product"
          }
        ]
      }
    ]
  }
{% endschema %}