<section class="homepage-full-bleed bg-rose">
  <div class="relative">
    {% if section.settings.mobile_image != blank and section.settings.mobile_image.src != blank %}
      {% assign mobile_image = section.settings.mobile_image %}
    {% else %}
      {% assign mobile_image = section.settings.desktop_image %}
    {% endif %}
    <div data-animate="fade-in" class="homepage-full-bleed__image">
      {% assign desktop_ratio = 16 | divided_by: 9.0000 %}
      {% include 'responsive-image' with
        image: section.settings.desktop_image,
        inline_aspect_ratio: true,
        crop_aspect_ratio: desktop_ratio,
        wrapper_class: 'hidden md:block'
      %}
      {% include 'responsive-image' with
        image: mobile_image,
        inline_aspect_ratio: true,
        crop_aspect_ratio: 1,
        wrapper_class: 'md:hidden'
      %}
    </div>

    <div class="image-with-text__text px-8 md:px-26 absolute inset-0 text-off-white flex items-center">
      <div data-animate="slide-up delay" class="mt-4 md:mt-10-per">
        {% if section.settings.title != blank %}
          <h2 class="mb-2 md:mb-3 text-xl-mob md:text-2xl-tight-desk lg:text-2xl-tight-desk max-w-sm-em">{{ section.settings.title | escape }}</h2>
        {% endif %}
        {% if section.settings.text != blank %}
          <div class="md:text-lg-desk lg:text-lg-desk max-w-sm-em">{{ section.settings.text }}</div>
        {% endif %}
        {% if section.settings.button_label != blank and section.settings.button_link != blank %}
          <a class="mt-4 md:mt-6 button" href="{{ section.settings.button_link }}">
            {{ section.settings.button_label | escape }}
          </a>
        {% endif %}
      </div>
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Full-Bleed Image",
    "settings": [
      {
        "type": "image_picker",
        "id": "desktop_image",
        "label": "Desktop Image",
        "info": "Landscape image"
      },
      {
        "type": "image_picker",
        "id": "mobile_image",
        "label": "Mobile Image",
        "info": "Square image. Other aspect ratios will be cropped to square format. If not provided, desktop image will be used."
      },
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Luptatia Quis, Sum Veles"
      },
      {
        "type": "textarea",
        "id": "text",
        "label": "Text",
        "default": "Luptatia cumet, sum veles nam laborec tempor si voluptat aute voluptur lorem ispum dolorpostrum."
      },
      {
        "type": "text",
        "id": "button_label",
        "label": "Button label",
        "default": "Shop Now"
      },
      {
        "type": "url",
        "id": "button_link",
        "label": "Button link",
        "default": "/collections"
      }
    ],
    "presets": [
      {
        "name": "Full-Bleed Image",
        "category": "Image"
      }
    ]
  }
{% endschema %}
