{% assign related_product_ids =  product.metafields.accentuate.related_products | split: '|' %}

{% if related_product_ids.size > 0 %}
  <section class="bg-rose pt-12 pb-14 md:pt-28 md:pb-28 border-t md:border-t-0">

    <div class="px-4 md:px-16 mx-auto max-w-screen-xl">
      <h2 data-animate="slide-up" class="text-center text-xl-mob md:text-2xl-tight-desk">{{ section.settings.heading }}</h2>

      <div class="grid grid-cols-2 col-gap-3 row-gap-6 mt-8 md:grid-cols-3 md:row-gap-16 md:col-gap-12 md:mt-16">
        {% for related_id in related_product_ids %}

          {% if forloop.index > 3 %}
            {% break %}
          {% endif %}

          {% if forloop.index > 2 %}
            {% assign card_class = "hidden md:block" %}
          {% endif %}

          {% assign related_product = all_products[related_id] %}

          {% include 'product-card',
            card_product: related_product,
            card_class: card_class %}
        {% endfor %}
      </div>
    </div>

  </section>
{% endif %}

{% schema %}
  {
    "name": "Related Products",
    "settings": [
      {
        "type": "text",
        "label": "Heading",
        "id": "heading",
        "default": "Related Products"
      }
    ]
  }
{% endschema %}