{%- capture content -%}
  {% for block in section.blocks %}
    {% include 'product-card' with card_product: block.settings.product %}
  {% endfor %}
{%- endcapture -%}

<section class="homepage-featured-products bg-rose {{ section.settings.border_top_class }}">
  {% include 'featured-products',
  heading: section.settings.heading,
  content: content %}

</section>

{% schema %}
  {
    "name": "Related Products",
    "max_blocks": 3,
    "settings": [
      {
        "type": "text",
        "label": "Heading",
        "id": "heading",
        "default": "Related Products"
      }
    ],
    "blocks": [
      {
        "type": "product",
        "name": "Product",
        "settings": [
          {
            "label": "Product",
            "id": "product",
            "type": "product"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Related Products",
        "category": "Products",
        "blocks": [
          {
            "type": "product"
          },
          {
            "type": "product"
          },
          {
            "type": "product"
          }
        ]
      }
    ]
  }
{% endschema %}