<section data-section-id="{{ section.id }}" data-section-type="product" class="md:grid md:grid-cols-2 md:px-16">
  {% include 'pdp-images' %}

  <div class="product__text text-center px-6 pb-8 pt-7 md:text-left md:pr-0 md:pl-16 xl:pl-26 lg:pt-17">
    {% include 'pdp-text' %}
    {% include 'pdp-form' %}
    {% include 'pdp-details' %}
  </div>
</section>

{% schema %}
  {
    "name": "Product",
    "settings": []
  }
{% endschema %}
