<section class="max-w-screen-lg space-y-8 p-10 mx-auto">
  <p class="text-3xl-desk max-w-screen-md mela-animate">
    text-3xl-desk: Luptatia Quis, Sum Veles.
  </p>

  <p class="text-2xl-tight-desk mela-animate">
    text-2xl-tight-desk: Luptatia cumet, sum veles nam laborec tempor si voluptat aute voluptur lorem ispum dolorpostrum.
  </p>

  <p class="text-2xl-desk mela-animate">
    text-2xl-desk: Luptatia cumet, sum veles nam laborec tempor si voluptat aute voluptur lorem ispum dolorpostrum.
  </p>

  <p class="text-xl-desk mela-animate">
    text-xl-desk: Luptatia cumet, sum veles nam laborec tempor si voluptat aute voluptur lorem ispum dolorpostrum.
  </p>

  <p class="text-lg-tight-desk max-w-screen-md mela-animate">
    text-lg-tight-desk: Luptatia cumet, sum veles nam laborec tempor si voluptat aute voluptur lorem ispum dolorpostrum.
  </p>

  <p class="text-lg-desk max-w-screen-md mela-animate">
    text-lg-desk: Luptatia cumet, sum veles nam laborec tempor si voluptat aute voluptur lorem ispum dolorpostrum.
  </p>

  <p class="text-base-desk max-w-screen-sm mela-animate">
    text-base-desk: Ostius, essequas verempo rrorerumqui to dolorpostrum est, si dolor aute vel ium aut etur sequidest, voluptu rehente eosam, quis et quis dellor modigen ditionse porro bearum, eum fuga. Luptatia cumet, sum veles nam laborec tempor si voluptat aute voluptur? Imus autempe llecturis voloria. volorum. Ehenitatibus. Nam necustem velecum.
  </p>

  <p class="text-sm-desk max-w-screen-sm mela-animate">
    text-sm-desk: Ostius, essequas verempo rrorerumqui to dolorpostrum est, si dolor aute vel ium aut etur sequidest, voluptu rehente eosam, quis et quis dellor modigen ditionse porro bearum, eum fuga. Luptatia cumet, sum veles nam laborec tempor si voluptat aute voluptur? Imus autempe llecturis voloria. volorum. Ehenitatibus. Nam necustem velecum.
  </p>

  <p class="uppercase-desk max-w-screen-sm mela-animate">
    uppercase-desk: Luptatia cumet, sum veles nam laborec tempor si voluptat aute voluptur lorem ispum dolorpostrum.
  </p>


  <p class="text-2xl-mob max-w-xs mela-animate">
    text-2xl-mob: Luptatia Quis, Sum Veles.
  </p>

  <p class="text-xl-mob max-w-xs mela-animate">
    text-xl-mob: Luptatia cumet, sum veles nam laborec tempor si voluptat aute voluptur lorem ispum dolorpostrum.
  </p>

  <p class="text-lg-mob max-w-xs mela-animate">
    text-lg-mob: Luptatia cumet, sum veles nam laborec tempor si voluptat aute voluptur lorem ispum dolorpostrum.
  </p>

  <p class="text-base-mob max-w-xs mela-animate">
    text-base-mob: Ostius, essequas verempo rrorerumqui to dolorpostrum est, si dolor aute vel ium aut etur sequidest, voluptu rehente eosam, quis et quis dellor modigen ditionse porro bearum, eum fuga. Luptatia cumet, sum veles nam laborec tempor si voluptat aute voluptur? Imus autempe llecturis voloria. volorum. Ehenitatibus. Nam necustem velecum.
  </p>

  <p class="uppercase-md-mob max-w-xs mela-animate">
    uppercase-md-mob: Luptatia cumet, sum veles nam laborec tempor si voluptat aute voluptur lorem ispum dolorpostrum.
  </p>
  <p class="uppercase-sm-mob max-w-xs mela-animate">
    uppercase-sm-mob: Luptatia cumet, sum veles nam laborec tempor si voluptat aute voluptur lorem ispum dolorpostrum.
  </p>

  <div class="grid grid-cols-5 grid-rows-1 h-32 gap-10 mela-animate">
    <div class="bg-rose relative"><div class="flex-center absolute inset-0">rose</div></div>
    <div class="bg-soft-blue relative"><div class="flex-center absolute inset-0">soft-blue</div></div>
    <div class="bg-orange relative"><div class="flex-center absolute inset-0">orange</div></div>
    <div class="bg-black relative"><div class="text-off-white flex-center absolute inset-0">black</div></div>
    <div class="bg-off-white relative"><div class="flex-center absolute inset-0">off-white</div></div>
  </div>
</section>

{% schema %}
  {
    "name": "Theme Styles",
    "presets": [
      {
        "name": "Theme Styles",
        "category": "Demo"
      }
    ]
  }
{% endschema %}
